extends  ../layouts/main-layout.pug

block styles
    link(href="/css/product.css", rel="stylesheet")
    link(href="/css/forms.css", rel="stylesheet")

block content 
    main
        form(action="/admin/add-product" method="POST").product-form
            .form-control
                label(for="title") Title
                input(type="text" name="title")#title
            .form-control
                label(for="imageUrl") ImageUrl
                input(type="text" name="imageUrl")#imageUrl
            .form-control
                label(for="price") Price
                input(type="number" name="price" step="0.01")#price
            .form-control
                label(for="description") Description
                textarea(name="description", cols="12", rows="10")#description
            button.btn(type="submit") Add Product
