<%- include('includes/head.ejs')  %>
</head>
<body>
    <%- include('includes/navigation.ejs')  %>
    <main>
    <% if (prods.length >0) {%>
        <div class="grid">
            <% for (let product of prods) {%>
                <article class="card product-item">
                    <header class="card_header">
                        <h1 class="product_title"><% product.title %></h1>
                    </header>
                    <div class="card_image">
                        <img src="https://pendulo.com/imagenes_grandes/9786071/978607141108.GIF" >
                    </div>
                    <div class="card_content">
                        <h2 class="product_price"> </h2>
                        <p class="product_description"> </p>
                    </div>
                    <div class="card_actions">
                        <button class="btn">Add to cart</button>        
                    </div>
                </article>
            <% } %>
        </div>
    <% } else {%>
     <h1> No products Found</h1>
    <% } %>
    <%- include('includes/end.ejs')  %>