extends  ../layouts/main-layout.pug
block styles
    link(href="/css/cart.css", rel="stylesheet")

block content
    main
        if products.length > 0
            ul.cart_item-list
                each prod in products
                    li.cart_item 
                        h1 #{prod.title} 
                        h2 Quantity: #{prod.cartItem.quantity}
                        form(action="/cart-delete-item", method="post")
                            input(type="hidden" value= prod.id name="productId")
                            button.btn.danger(type="submit").btn Delete
            hr
            div.centered
                form(action="/create-order", method="post")
                    button.btn(type="submit") Order Now!!
        else
            |No products