extends ../layouts/main-layout.pug
block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.produt-item
                        header.card_header
                            h1.product_title #{product.title}
                        div.card_image
                            img(src="https://pendulo.com/imagenes_grandes/9786071/978607141108.GIF", alt="A BOOK")
                        div.card_content   
                            h2.product_price 19.99
                            p.product_description A very interesting book about so many        
                        .card_actions
                            button.btn Add to Cart
        else
            h1 No products
